a{
    text-decoration: none !important;
    /* color: black; */
    color: black;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background: #E0E0E0; */
}
.size-qte{
    width: 130px;
}
a:link, a:visited, a:hover, a:active {
    color: black;
}
.checkout-form label {
    font-size: 12px;
    font-weight: 700;
}
.checkout-form input {
    font-size: 14px;
    padding: 5px;
    font-weight: 400;
}
.order-details label{
    font-size: 12px;
    font-weight: 700;
}
.order-details div{
    font-size: 14px;
    padding: 5px !important;
}

.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
  font-size: 60px;
  text-shadow: 1px 1px 0 #ffe400;
  cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #838383;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
.checked{
  color: #ffd400;
}
.slider-img{
    height: 500px !important;
}
.slider-text{
    background-color: #35443585 !important;
}
